body
{
    background: #444444;
}
body::-webkit-scrollbar 
{
    width: 12px; 
}
  
  body::-webkit-scrollbar-track 
{
    background: #000000; 
}
  
  body::-webkit-scrollbar-thumb 
{
    background-color: #ffffff; 
    border-radius: 20px; 
    border: 3px solid #000000;
}
.container
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 140vh;
}
.scroller 
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 80vh;
    height: 100vh;
    overflow-y: scroll;
}
  *
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
header
{
    position: fixed;
    width: 100%;
    height: 80px;
    background: #303030;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.logo
{
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
    height: 1vh;
    width: 1vh;
}
.hamburger
{
    display: none;
}
.nav-bar ul
{
    display: flex;
}
.nav-bar ul li a
{
    display: block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover
{
    color: #303030;
    background: #fefefe;
}
.nav-bar ul li a.active
{
    color: #303030;
    background: #fefefe;
}
@media only screen and (max-width: 1320px)
{
    header 
    {
    padding: 0 50px;
    }
}
@media only screen and (max-width: 1100px)
{
    header 
    {
    padding: 0 30px;
    }
}
@media only screen and (max-width: 900px)
{
   .hamburger
   {
    display: block;
    cursor: pointer;
   }
   .hamburger .line
   {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
   }
   .nav-bar.active
   {
    height: 450px;
   }
   .nav-bar
   {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #303030;
    transition: 0.2s;
    overflow: hidden;
   }
   .nav-bar ul 
   {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
   }
   .nav-bar.active ul
   {
    opacity: 1;
   }
   .nav-bar ul li a 
   {
    margin-bottom: 12px;
   }
}
footer
{
    position: relative;
    width: 100%;
    background: #545454;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icon,
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li
{
    list-style: none;

}
footer .social_icon li a
{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover

{
    transform: translateY(-10px);
}
footer .menu li a
{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover
{
    opacity: 1;
}
footer p
{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
.timeline 
{
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 60px;
    background: #000000;
}
  .timeline:after 
{
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 50%;
    width: 8px;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
}
  .timeline article 
{
    position: relative;
    background: #000000;
    color: #ffffff;
    width: calc( 50% - 40px );
    padding: 15px;
}
  .timeline article + article 
{
    margin-top: 20px;
}
  .timeline article:before 
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: calc( 100% + 26px );
    background: #d6d6d6;
    width: 24px;
    height: 24px;
    border: 6px #346abf solid;
    border-radius: 50%;
    z-index: 2;
}
  .timeline article:after 
{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 16px solid #eeeeee;
    border-bottom: 20px solid transparent;
}
.timeline article:nth-child(even) 
{
    margin-left: calc( 50% + 48px );
}
.timeline article:nth-child(even):before 
{
    left: auto;
    right: calc( 100% + 26px );
}
.timeline article:nth-child(even):after 
{
    left: auto;
    right: 100%;
    border-left: none;
    border-right: 16px solid #eeeeee;
}